.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.film {
  max-width: 451px;
  display: grid;
  grid-template-columns: 186px 265px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.films__image {
  width: 186px;
  height: 288px;
}
.film-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.film-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.film-content__title {
  font-size: 20px;
}
.film-content__rating {
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
}
.film-content__rating-red {
  border: 2px solid #E90000;
}
.film-content__rating-orange {
  border: 2px solid #E97E00;
}
.film-content__rating-yellow {
  border: 2px solid #E9D100;
}
.film-content__rating-green {
  border: 2px solid #66E900;
}
.film-content__date {
  color: #827e7e;
  font-weight: 400;
}
.film-content__genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.film-content__genre-item {
  padding: 3px;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.65);
}
.film-content__description {
  font-weight: 400;
}
.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 3px;
}
@media (max-width: 903px) {
  .films-list {
    justify-content: center;
  }
}
@media (max-width:648px) {

  .film {
    grid-template-columns: 388px;
    position: relative;
  }
  .films__image {
    width: 60px;
    height: 91px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .film-content {
    padding-top: 5px;
  }
  .film-content__title {
    font-size: 16px;
  }
  .film-content__header,
  .film-content__date,
  .film-content__genre-list {
    margin-left: 65px;
  }
  .film-content__star {
    align-self: self-end;
  }
}